@import './temporary_suite.css';

.g-mega-nav {
  background: black;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;

  & .hashicorp-logo {
    line-height: 0;
  }

  & .g-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
