.g-section-block section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.g-section-block section > .g-section-header + *,
.g-section-block section > .g-container > .g-section-header + * {
  margin-top: 72px;
}

.g-section-block section > * + *,
.g-section-block section > .g-container > * + * {
  margin-top: 96px;
}

.g-section-block .button-container {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  margin: auto -8px -16px;
}

.g-section-block section > * + .button-container,
.g-section-block section > .g-container > * + .button-container {
  margin-top: 40px;
}

.g-section-block .button-container > * {
  margin: auto 8px 16px;
}

.g-section-block.theme-black-background-white-text {
  background: var(--gray-1);
  color: white;
}
